<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>Rent Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
  

  <style>
    .custom-nav .nav-link {
    color: #838080; 
    transition: color 0.3s ease;
}

.custom-nav .nav-link:hover {
    color: #333;
}

  </style>
</head>

<body>


  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">



      <nav id="navbar" class="navbar">

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top custom-nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: #333; font-size: large;" >Rental System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" href="{{ url_for('rent') }}">Rent</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if request.endpoint != 'index' and request.endpoint != 'rent' and request.endpoint != 'contact' %} active {% endif %}" 
                      href="{% if current_user.is_authenticated %} 
                      {% if current_user.user_type == 'admin' %}
                          {{ url_for('admin_dashboard') }}
                      {% elif current_user.user_type == 'landlord' %}
                          {{ url_for('landlord_dashboard') }}
                      {% else %}
                          {{ url_for('user_dashboard') }}
                      {% endif %}
                   {% endif %}">Management</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                  {% if session.get('logged_in') %}
                  <div class="dropdown d-flex justify-content-end">
                      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="{{ url_for('static', filename=session.get('image_file', 'default.jpg')) }}" alt="user_image" width="30" height="30" class="rounded-circle">
                          <span class="d-none d-sm-inline mx-1" style="color: black;">{{ session.get('firstname') }}</span>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                          <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
                      </ul>
                  </div>
                  {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn text-white" style="background-color: #1a9fd3;" href="{{ url_for('sign_up') }}">Sign up</a>
                  </li>
                  {% endif %}
              </ul>
            </div>
        </div>
    </nav>

    </div>
  </header>


  <section id="hero" class="d-flex align-items-center">
    

    <div class="container">
      <div class="row">
        <div class="col-lg-8 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better Solutions In Moscow</h1>
          <h2>We are team of the Best in University of Idaho</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#portfolio" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{{ url_for('static', filename='assets/img/UI.png') }}" class="img-fluid animated" alt="" style="width: 70%;">
        </div>
      </div>
    </div>

  </section>

  <main id="main">
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Your Choices</h2>
          <p>We have four different types of rooms for you to start your journey. Take your time!</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-1">1Bedroom</li>
          <li data-filter=".filter-2">2Bedroom</li>
          <li data-filter=".filter-3">3bedroom</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for property in properties %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{ property.room_count }}">
              <div class="portfolio-img"><img src="{{ url_for('static', filename=property.image_url.replace('\\', '/')) }}" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                  <h4>{{ property.name }}</h4>
                  <a href="{{ url_for('static', filename=property.image_url) }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ property.name }}"><i class="bx bx-plus"></i></a>
                  <a href="{{ url_for('property_details', property_id=property.id) }}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
          </div>
          {% endfor %}
      </div>

      </div>
    </section>

  </main>

  <footer id="footer">

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>CS360</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

      </div>
    </div>
  </footer>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
  
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  

</body>

</html>